@(title: String, appModule: Call, customStylesheet: Option[Call] = None)(content: Html)

<!DOCTYPE html>

<html>  <!-- no ng-app here. With RequireJS, call angular.bootstrap() manually at bottom of each app.js, login.js, etc. -->
    <head>
        <meta charset="utf-8">
        <title>GreenBus @title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="@routes.WebJarAssets.at(WebJarAssets.locate("css/bootstrap.css"))">
        @*<link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">*@
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/font-awesome/css/font-awesome.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/d3-traits/d3-traits.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/angular-bootstrap-nav-tree/abn_tree.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/greenbus-views/greenbus-views-0.1.0-SNAPSHOT.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")">
        @for( styleSheet <- customStylesheet) {
            <link rel="stylesheet" href="@customStylesheet">
        }


        @*<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">*@
        @*<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">*@
        @*<script src="@routes.Assets.at("javascripts/hello.js")" type="text/javascript"></script>*@




    </head>
    <body>
        @content

        <script src="@routes.Assets.versioned("lib/jquery-1.11.1.min.js")"></script>
        <script src="@routes.Assets.versioned("lib/d3/d3.v3.min.js")"></script>
        <script src="@routes.Assets.versioned("lib/d3-traits/d3-traits.js")"></script>

        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-route.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-cookies.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular-animate.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap-tpls.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("ui-utils.min.js"))"></script>
        <script src="@routes.WebJarAssets.at(WebJarAssets.locate("moment.js"))"></script>
        <script src="@routes.Assets.versioned("lib/angular-bootstrap-nav-tree/abn_tree_directive.js")"></script>
        <script src="@routes.Assets.versioned("lib/greenbus-views/greenbus-views-tpls-0.1.0-SNAPSHOT.js")"></script>

        @*<script data-main="@routes.Assets.versioned("javascripts/main.js")" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>*@
        <script data-main="@appModule.url" src="@routes.Assets.versioned("lib/requirejs/require.js")"></script>

    </body>
</html>
